<template>  
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h3>
        Facture n°2024-{{ facture.id }}
      </h3>
      <div>
        
      </div>
    </div>
    <hr>
    <br>
    <div class="d-flex justify-content-between align-items-center">
      <div style="width:40rem; background-color: #f2f2f2; border-radius:0.5rem;" class="px-2 py-3">
        <div class="row">
          <div class="col-4 fw-bold">
            Commentaire
          </div>
          <div class="col">
            {{ facture.comment }}
          </div>
        </div>
        <div class="row">
          <div class="col-4 fw-bold">
            Raison sociale
          </div>
          <div class="col">
            {{ facture.client?.socialReason }}
          </div>
        </div>
        <div class="row">
          <div class="col-4 fw-bold">
            Nom, Prénom
          </div>
          <div class="col">
            {{ facture.client?.lastName }}, {{ facture.client?.firstName }}
          </div>
        </div>
        <div class="row">
          <div class="col-4 fw-bold">
            Contact
          </div>
          <div class="col">
            {{ facture.client?.mail }} / {{facture.client?.phone}}
          </div>
        </div>
      </div>
      <div>
        <button type="btn" class="btn btn-primary mx-2">
          Exporter
        </button>
      </div>
    </div>
    <br>
    <hr>
    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Description</th>
            <th scope="col">PU HT</th>
            <th scope="col">Qte</th>
            <th scope="col">Total HT</th>
            <th scope="col">Taxes</th>
            <th scope="col">Total TTC</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="ligne in facture.lines">
            <td>{{ ligne.description }}</td>
            <td>{{ parseFloat(ligne.unitPrice).toFixed(2) }}€</td>
            <td>{{ ligne.quantity }}</td>
            <td>{{ parseFloat(ligne.unitPrice*ligne.quantity).toFixed(2) }}€</td>
            <td>{{ ligne.tax }}%</td>
            <td>{{ parseFloat((ligne.unitPrice*ligne.quantity)*(1+ligne.tax/100)).toFixed(2) }}€</td>
          </tr>
        </tbody>
      </table>

      <table class="table table-striped table-hover w-25 float-end">
        <thead>
          <tr>
            <th colspan="2">Montants totaux</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="col">Total HT</th>
            <td>{{ parseFloat(facture.totalHT).toFixed(2) }}€</td>
          </tr>
          <tr>
            <th scope="col">Total TVA</th>
            <td>{{ parseFloat(facture.totalTTC - facture.totalHT).toFixed(2) }}€</td>
          </tr>
          <tr>
            <th scope="col">Total TTC</th>
            <td>{{ parseFloat(facture.totalTTC).toFixed(2) }}€</td>
          </tr>
        </tbody>
      </table>
  </div>
  
</template>

<script>

import {getFacture} from '../api/makeRequest';
export default {
    name: 'Facture',
    props:{
    },
    components: {
      
    },
    data() {
      return {
        facture: [],
      };
    },
    mounted() {
      this.getfacture();
    },
    methods:{
      formatDate(date){
        if(typeof date === 'undefined'){
          date = new Date();
        }
        const yyyy = date.getFullYear();
        let mm = date.getMonth() + 1;
        let dd = date.getDate();

        if (dd < 10) dd = '0' + dd;
        if (mm < 10) mm = '0' + mm;

        const formattedDay = dd + '/' + mm + '/' + yyyy;
        return formattedDay;
      },
      getfacture(){
        const id = this.$route.params.id;
        getFacture(id).then((response)=>{
          this.facture = response;
          this.facture.totalHT = 0;
          this.facture.totalTTC = 0;
          this.facture.lines.forEach(function(line) {
            this.facture.totalHT += (line.unitPrice*line.quantity);
            this.facture.totalTTC += (line.unitPrice*line.quantity)*(1+line.tax/100);
          }.bind(this));
         });
      },
    }
}
</script>