<template>
    <nav class="navbar navbar-light mb-3" style="background-color: #242530;">
        <div>
            <a class="navbar-brand" href="/">
                <img src="/public/logo.png">
            </a>
            <a class="navbar-brand primary-color" href="/factures">
                Factures
            </a>
        </div>
        <Slide :isOpen="isOpen" @closeMenu="isOpen = false" right>
            <a href="/coords">
                <span>Mes coordonnées</span>
            </a>
            <a href="/deconnect">
                <span>Déconnexion</span>
            </a>
        </Slide>
    </nav>
</template>

<script>
import { Slide } from 'vue3-burger-menu'

export default {
  name: 'Header',
  components: {
    Slide
  },
  data() {
    return {
        isOpen: false,
    };
  },
  mounted() {
  
  },
  methods:{
    
  }
}
</script>

<style>
.bm-burger-button{
    right: 36px;
    left: unset !important;
    top: 10px !important;
}
.bm-burger-bars{
    background-color: #e09b9b !important;
}
</style>