<template>
<div class="d-flex justify-content-between my-3 px-2">
  <h3>Mes devis</h3>
  <button type="button" class="btn primary-bg" @click="showModalCreationDevis = true">
    Nouveau devis
  </button>
</div>

<table-projets :projets="projets" route="projet"></table-projets>
  <modal-creation-devis :showModal="showModalCreationDevis"></modal-creation-devis>

</template>

<script>
import tableProjets from '../components/tableProjets.vue'
import {getAllProjets} from '../api/makeRequest'
import modalCreationDevis from '../components/modalCreationDevis.vue'

export default {
  name: 'listeProjets',
  components: {
    tableProjets,
    modalCreationDevis
  },
  mounted() {
    getAllProjets().then((response) => {
      this.projets = response;
      for(let i=0; i<this.projets.length;i++){
        this.projets[i].totalNoTax = 0;
        this.projets[i].total = 0;
        this.projets[i].lines.forEach(function(line) {
          this.projets[i].totalNoTax += (line.unitPrice*line.quantity);
          this.projets[i].total += (line.unitPrice*line.quantity)*(1+(1/line.tax));
        }.bind(this));
      }      
    })
  },
  data() {
    return {
      projets: [],
      showModalCreationDevis: false
    };
  },
  methods:{
  }
}
</script>