<template>
<div class="d-flex justify-content-between my-3 px-2">
  <h3>Mes factures</h3>
</div>

<table-projets :projets="factures" route="facture"></table-projets>

</template>

<script>
import tableProjets from '../components/tableProjets.vue'
import {getAllFactures} from '../api/makeRequest'

export default {
  name: 'listeFactures',
  components: {
    tableProjets
  },
  mounted() {
    getAllFactures().then((response)=>{
      this.factures = response;
      for(let i=0; i<this.factures.length;i++){
        this.factures[i].totalNoTax = 0;
        this.factures[i].total = 0;
        this.factures[i].lines.forEach(function(line) {
          this.factures[i].totalNoTax += (line.unitPrice*line.quantity);
          this.factures[i].total += (line.unitPrice*line.quantity)*(1+(1/line.tax));
        }.bind(this));
      } 
    });
  },
  data() {
    return {
      factures: []
    };
  },
  methods:{

  }
}
</script>