<template>  
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h3>
        Devis n°2024-{{ projet.id }}
      </h3>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="hover-pointer primary-color bi bi-copy" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="hover-pointer bi bi-trash-fill primary-color" viewBox="0 0 16 16">
          <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
        </svg>
      </div>
    </div>
    <hr>
    <br>
    <div class="d-flex justify-content-between align-items-center">
      <div style="width:40rem; background-color: #f2f2f2; border-radius:0.5rem;" class="px-2 py-3">
        <div class="row">
          <div class="col-4 fw-bold">
            Commentaire
          </div>
          <div class="col">
            {{ projet.comment }}
          </div>
        </div>
        <div class="row">
          <div class="col-4 fw-bold">
            Raison sociale
          </div>
          <div class="col">
            {{ projet.client?.socialReason }}
          </div>
        </div>
        <div class="row">
          <div class="col-4 fw-bold">
            Nom, Prénom
          </div>
          <div class="col">
            {{ projet.client?.lastName }}, {{ projet.client?.firstName }}
          </div>
        </div>
        <div class="row">
          <div class="col-4 fw-bold">
            Contact
          </div>
          <div class="col">
            {{ projet.client?.mail }} / {{projet.client?.phone}}
          </div>
        </div>
      </div>
      <button v-if='projet.status == "facturé"' type="btn" class="btn btn-primary mx-2" @click="openFacture">
        Voir la facture
      </button>
      <button v-else type="btn" class="btn btn-primary mx-2" @click="facturer">
        Facturer
      </button>
    </div>
    <br>
    <hr>
    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Description</th>
            <th scope="col">PU HT</th>
            <th scope="col">Qte</th>
            <th scope="col">Total HT</th>
            <th scope="col">Taxes</th>
            <th scope="col">Total TTC</th>
            <th scope="col" style="width:11rem;">
              <button type="btn" class="btn btn-primary" @click="showModalCreationLigne = true">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                </svg>
                Créer une ligne
              </button>
              </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="ligne in projet.lines">
            <td>{{ ligne.description }}</td>
            <td>{{ parseFloat(ligne.unitPrice).toFixed(2) }}€</td>
            <td>{{ ligne.quantity }}</td>
            <td>{{ parseFloat(ligne.unitPrice*ligne.quantity).toFixed(2) }}€</td>
            <td>{{ ligne.tax }}%</td>
            <td colspan="2">{{ parseFloat((ligne.unitPrice*ligne.quantity)*(1+ligne.tax/100)).toFixed(2) }}€</td>
          </tr>
        </tbody>
      </table>

      <table class="table table-striped table-hover w-25 float-end">
        <thead>
          <tr>
            <th colspan="2">Montants totaux</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="col">Total HT</th>
            <td>{{ parseFloat(projet.totalHT).toFixed(2) }}€</td>
          </tr>
          <tr>
            <th scope="col">Total TVA</th>
            <td>{{ parseFloat(projet.totalTTC - projet.totalHT).toFixed(2) }}€</td>
          </tr>
          <tr>
            <th scope="col">Total TTC</th>
            <td>{{ parseFloat(projet.totalTTC).toFixed(2) }}€</td>
          </tr>
        </tbody>
      </table>
  </div>
  <modal-creation-ligne :showModal="showModalCreationLigne"></modal-creation-ligne>
</template>

<script>

import {getProjet, transformProjetInFacture} from '../api/makeRequest';
import modalCreationLigne from '../components/modalCreationLigne.vue'
export default {
    name: 'Projet',
    props:{
    },
    components: {
      modalCreationLigne
    },
    data() {
      return {
        projet: [],
        showModalCreationLigne: false,
      };
    },
    mounted() {
      this.getProjet();
    },
    methods:{
      formatDate(date){
        if(typeof date === 'undefined'){
          date = new Date();
        }
        const yyyy = date.getFullYear();
        let mm = date.getMonth() + 1;
        let dd = date.getDate();

        if (dd < 10) dd = '0' + dd;
        if (mm < 10) mm = '0' + mm;

        const formattedDay = dd + '/' + mm + '/' + yyyy;
        return formattedDay;
      },
      getProjet(){
        const id = this.$route.params.id;
         getProjet(id).then((response)=>{
          this.projet = response;
          this.projet.totalHT = 0;
          this.projet.totalTTC = 0;
          this.projet.lines.forEach(function(line) {
            this.projet.totalHT += (line.unitPrice*line.quantity);
            this.projet.totalTTC += (line.unitPrice*line.quantity)*(1+line.tax/100);
          }.bind(this));
         });
      },
      facturer(){
        if(confirm('Voulez-vous vraiment facturer ce devis ?')){
          const id = this.$route.params.id;
          transformProjetInFacture(id).then((response)=>{
            this.$router.push({ path: `/facture/${response.id}` });
          });
        }
      },
      openFacture(){
        const id = this.$route.params.id;
        this.$router.push({ path: `/facture/${id}` });
      }
    }
}
</script>