.primary-color{
    color: #e09b9b !important;
}

.primary-color:hover, .primary-color:focus{
    color: #c96969 !important;
}

.primary-bg{
    background-color: #e09b9b !important;
}

.primary-bg:hover, .primary-bg:focus, .primary-bg:active{
    background-color: #c96969 !important;
}

.hover-pointer{
    cursor: pointer !important;
}

.btn-primary{
    border-color: #e09b9b !important;
    background-color: #e09b9b !important;
}

.btn-primary:hover{
    background-color: #c96969 !important;
}