<template>
  <div class="modal" :class="{ 'd-block': showModal }" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Création d'un devis</h5>
          <button type="button" class="btn-close" @click="showModal = false"></button>
        </div>
        <div class="modal-body">
          <form @submit.prevent="createProject">
            <div class="mb-3">
              <label for="comment" class="form-label">Commentaire</label>
              <textarea class="form-control" id="comment" v-model="project.comment"></textarea>
            </div>
            <h5 @click="showClient = !showClient" class="hover-pointer">
              Client
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16" v-if="!showClient">
                <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-up" viewBox="0 0 16 16" v-if="showClient">
                <path fill-rule="evenodd" d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894z"/>
              </svg>
            </h5>
            <div v-if="showClient">
              <div class="mb-3">
                <div class="row">
                  <div class="col-6">
                    <label for="clientlastName" class="form-label">Nom</label>
                    <input type="text" class="form-control" id="clientlastName" v-model="project.client.lastName">
                  </div>
                  <div class="col-6">
                    <label for="clientFirstName" class="form-label">Prénom</label>
                    <input type="text" class="form-control" id="clientFirstName" v-model="project.client.firstName">
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <div class="row">
                  <div class="col-6">
                    <label for="clientSocialReason" class="form-label">Raison sociale</label>
                    <input type="text" class="form-control" id="clientSocialReason" v-model="project.client.socialReason">
                  </div>
                  <div class="col-6">
                    <label for="clientPhone" class="form-label">Téléphone</label>
                    <input type="text" class="form-control" id="clientPhone" v-model="project.client.phone">
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <div class="row">
                  <div class="col-12">
                    <label for="clientMail" class="form-label">Adresse e-mail</label>
                    <input type="text" class="form-control" id="clientMail" v-model="project.client.mail">
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary float-end" :disabled="!isValid">Créer le devis</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {createProjet} from '../api/makeRequest';
export default {
  name: 'modalCreationProjet',
  props: {
    showModal: Boolean
  },
  data() {
    return {
      project: {
        comment: '',
        client: {
          lastName: '',
          firstName: '',
          socialReason: '',
          mail: '',
          phone: ''
        },
        lines:[]
      },
      showClient: true
    };
  },
  computed: {
    isValid() {
      return this.project.comment && this.project.client.lastName && this.project.client.firstName && this.project.client.socialReason && this.project.client.mail && this.project.client.phone;
    }
  },
  methods: {
    createProject() {
      if (this.isValid) {
        createProjet(this.project).then((response)=>{
          this.$router.push({ path: `/projet/${response.id}` })
        });
      }
    }
  }
}
</script>