<template>
<div class="modal" :class="{ 'd-block': showModal }" tabindex="-1">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Création d'une ligne</h5>
      <button type="button" class="btn-close" @click="showModal = false"></button>
    </div>
    <div class="modal-body">
      <form @submit.prevent="createLine">
        <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" v-model="ligne.description">
              </div>
              <div class="mb-3">
                <label for="unitPrice" class="form-label">Prix unitaire HT</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="unitPrice" v-model="ligne.unitPrice">
                  <span class="input-group-text">€</span>
                </div>
              </div>
              <div class="mb-3">
                <label for="quantity" class="form-label">Quantité</label>
                <input type="text" class="form-control" id="quantity" v-model="ligne.quantity">
              </div>
              <div class="mb-3">
                <label for="unit" class="form-label">Unité</label>
                <input type="text" class="form-control" id="unit" v-model="ligne.unit">
              </div>
              <div class="mb-3">
                <label for="tax" class="form-label">Taux de TVA</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="tax" v-model="ligne.tax">
                  <span class="input-group-text">%</span>
                </div>
              </div>
              <button type="submit" class="btn btn-primary float-end" :disabled="!isValid">Créer la ligne</button>
      </form>
    </div>
  </div>
</div>
</div>
</template>

<script>
import {createLigne} from '../api/makeRequest';
export default {
    name: 'modalCreationLigne',
    props:{
      showModal: Boolean
    },
    data() {
      return {
        ligne: {
          description: '',
          unitPrice: '',
          quantity: '',
          tax: '',
          unit: ''
        }
      };
    },
    computed: {
      isValid() {
        return this.ligne.unit && this.ligne.description && this.ligne.unitPrice && this.ligne.quantity && this.ligne.tax;
      }
    },
    methods:{
      createLine(){
        if (this.isValid) {
          const id = this.$route.params.id;
          this.ligne.quantity = parseFloat(this.ligne.quantity);
          this.ligne.unitPrice = parseFloat(this.ligne.unitPrice);
          this.ligne.tax = parseFloat(this.ligne.tax);
          createLigne(id, this.ligne).then(()=>{
            location.reload();
          });
        }
      }
    }
}
</script>