<template>    
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">N° {{ (route=='projet')?'Devis':'Facture' }}</th>
          <th scope="col">Client</th>
          <th scope="col">Total HT</th>
          <th scope="col">Total TTC</th>
          <th scope="col">Date de modification</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="projet in projets" @click="openProjet(projet.id)">
          <td>2024-{{ projet.id }}</td>
          <td>{{ projet.client?.socialReason }}</td>
          <td>{{ parseFloat(projet.totalNoTax).toFixed(2) }}€</td>
          <td>{{ parseFloat(projet.total).toFixed(2) }}€</td>
          <td>{{ formatDate(projet.updatedAt) }}</td>
          <td>{{ projet.status }}</td>
        </tr>
      </tbody>
    </table>
    
</template>

<script>
export default {
    name: 'tableProjets',
    props:{
      projets: Array,
      route: String
    },
    components: {
    },
    data() {
      return {
      };
    },
    mounted() {
    },
    methods:{
      formatDate(date){
        if(typeof date === 'undefined'){
          date = new Date();
        }else{
          date = new Date(date);
        }
        const yyyy = date.getFullYear();
        let mm = date.getMonth() + 1;
        let dd = date.getDate();

        if (dd < 10) dd = '0' + dd;
        if (mm < 10) mm = '0' + mm;

        const formattedDay = dd + '/' + mm + '/' + yyyy;
        return formattedDay;
      },
      openProjet(id){
        this.$router.push({ path: `/${this.route}/${id}` })
      }
    }
}
</script>