<template>
  <Header></Header>
  <RouterView />
</template>

<script>
import { RouterView } from 'vue-router'
import Header from '/src/views/Header.vue'

export default {
  name: 'App',
  components: {
    Header
  },
}
</script>